.jenkins .state-background {
  background-image: url(../img/jenkins.png);
  background-repeat: no-repeat;
}

.kitchen .state-background {
  background-image: url(../img/kitchen.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.bats .state-background {
     background-image: url(../img/bats.png);
       background-repeat: no-repeat;
         background-position: center center;
}

.alert {
  background: none repeat scroll 0 0 rgba(200, 50, 30, 0.6);
}

.reveal h1 {
  font-size: 3.40em;
}

.reveal h2 {
  font-size: 1.9em;
}
